.container {
  position: absolute;
  bottom: -32vh;
  left: -50vw;
  background-color: #45457c; /* o el color de fondo que desees */
  z-index: 1000;
}
.container2 {
  background-color: #45457c; /* o el color de fondo que desees */
  /* z-index: 1000; */
}
