/**STYLE GLOBALES**/
.disable-clicks {
  pointer-events: none;
}
:root {
  --gradientBluePurple: linear-gradient(
    90deg,
    rgba(0, 255, 218, 1) 0%,
    rgba(191, 101, 239, 1) 100%
  );
  --white: #ffffff;
  --transparent: rgba(0, 0, 0, 0);
  --blue: #45457c;
  --cian: #00ffda;
  --vino: #170a10;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--white);
}

body {
  background-color: var(--blue);
}

img {
  width: 100%;
}

.hidden {
  display: none !important;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content .item {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content .btn {
  width: 160px;
  height: 35px;
  border: none;
  background: var(--gradientBluePurple);
  font-weight: 600;
  font-size: 13pt;
  border-radius: 6px;
  color: var(--white);
}
/**STYLE GLOBALES**/

/**STYLE HOME**/
.content.home .item:last-child {
  width: 33%;
}

.content .item.logoMiami {
  width: 33%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.content .item.logoMiami img {
  width: 20%;
  margin: 30px;
}

.content .item.logoAR {
  width: 33%;
  flex-direction: column;
}

.content .item.logoAR .progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 80px;
}

.content .item.logoAR .progress-bar {
  height: 4px;
  width: 0;
  background: var(--gradientBluePurple);
  border-radius: 25px;
  transition: width 0.5s ease-in-out;
}
/**STYLE HOME**/

/**STYLE WELCOME**/
.content .item.contentWelcome {
  width: 80%;
  flex-direction: column;
  color: var(--white);
  font-size: 16pt;
  text-align: center;
}

.content .item.contentWelcome p {
  margin-bottom: 20px;
}

.content .item.contentWelcome p:last-child {
  margin-bottom: 35px;
}

.content .item.contentWelcome a {
  font-weight: 700;
  text-decoration: none;
}

.content .item.contentWelcome .codeSession {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}

.content .item.contentWelcome .codeSession p {
  margin: 0;
}

.content .item.contentWelcome .codeSession input {
  text-align: center;
  color: var(--blue);
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  max-width: 30%;
  font-weight: 600;
  text-transform: uppercase;
}
/**STYLE WELCOME**/

/**STYLE SELECTOR**/
.content.female,
.content.male {
  justify-content: space-between;
}

.back {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 15px;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.back img {
  width: 15px;
  height: 25px;
}

.content .item.selector {
  flex-direction: column;
}

.content .item.selector .text-selector {
  margin-bottom: 30px;
  font-size: 25px;
  color: var(--white);
  font-weight: 600;
}

.content .item.selector .icon-gender {
  width: 5%;
  margin-bottom: 30px;
}

.content .item.selector .characters {
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content .item.selector .characters .character {
  width: 30%;
  height: 100%;
  border: 1px solid var(--white);
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content .item.selector .characters .character:hover,
.content .item.selector .characters .character:focus,
.content .item.selector .characters .character:active {
  border-width: 3px;
}
/**STYLE SELECTOR**/

/**STYLE ENTER NAME**/
.content .item.enterName {
  width: 80%;
  justify-content: space-between;
}

.content .item.enterName .characterImg {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 3px solid var(--white);
  border-radius: 20px;
  overflow: hidden;
}

.content .item .contentName {
  width: 50%;
  height: 85%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 18pt;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.content .item .contentName input {
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 16pt;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 5px;
}

.content .item .contentName input::placeholder {
  color: var(--white);
  opacity: 0.4;
}
/**STYLE ENTER NAME**/

/**STYLE TERMS AND CONDITIONS**/
.terms_conditions {
  flex-direction: column;
  justify-content: center !important;
}

.terms_conditions .readMore {
  width: 20%;
  position: absolute;
  top: 3%;
  left: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: none;
  background-color: var(--transparent);
  font-size: 16pt;
  color: var(--white);
  font-weight: 500;
}

.terms_conditions .readMore img {
  width: 20%;
}

.terms_conditions .text {
  width: 80%;
  height: 40vh;
  overflow-y: scroll;
  padding: 20px;
  margin-bottom: 20px;
  color: var(--white);
}

.terms_conditions .text::-webkit-scrollbar {
  display: none;
}

.terms_conditions .text p {
  margin-bottom: 15px;
}

.terms_conditions .contentBtn {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.terms_conditions .contentBtn .disabledBtn {
  width: 200px;
  height: 47px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  font-size: 15pt;
  border-radius: 10px;
  color: var(--white);
}
/**STYLE TERMS AND CONDITIONS**/

/**STYLE DASHBOARD**/
.headerDashboard {
  width: 80vw;
  height: auto !important;
  padding: 15px 0;
  margin: auto;
  justify-content: space-between;
  color: var(--white);
  font-weight: 600;
}

.content.dashboard {
  width: 80vw;
  height: 80vh;
  margin: auto;
  justify-content: space-between;
}

.content.dashboard .item {
  flex-direction: column;
  justify-content: space-around;
  width: 33%;
  height: 80vh;
}

.content.dashboard .item .selectItem {
  width: 100%;
  height: 40%;
  border: 3px solid var(--white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background: rgb(151, 133, 235);
  background: linear-gradient(
    30deg,
    rgba(151, 133, 235, 1) 62%,
    rgba(38, 224, 222, 1) 100%
  );
  padding: 10px;
}

.content.dashboard .item .selectItem .btn {
  width: 100%;
}

.content.dashboard .item:nth-child(1) {
  width: 62%;
}

.content.dashboard .item:nth-child(1) .selectItem {
  height: 90%;
}

.content.dashboard .item:nth-child(2) .selectItem:nth-child(2) img {
  width: 25%;
}

.content.dashboard .item .contentImg {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.content.dashboard .item button {
  margin-top: 10px;
  -webkit-box-shadow: 5px 5px 14px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px -8px rgba(0, 0, 0, 0.75);
}
/**STYLE DASHBOARD**/

/**GAME**/
.content .item.dataGame {
  position: absolute;
  top: 20px;
  width: 95%;
  height: auto;
  justify-content: space-between;
}

.content .dataGame .container {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 5px 10px;
  border: 3px solid var(--white);
}

.content .dataGame .container .textTitle {
  font-style: italic;
}

.content .dataGame .container div {
  font-weight: 600;
  justify-content: space-around;
  line-height: 1;
}

.content .dataGame .container.score {
  background-color: var(--white);
  border-color: var(--cian);
}

.content .dataGame .container.score div {
  color: var(--blue);
}

.content .dataGame .container div:nth-child(2) {
  font-size: 30pt;
  font-weight: 700;
}

.content .dataGame .container.time {
  background: var(--gradientBluePurple);
  color: var(--white);
}

.content .dataGame .container.time div {
  background-color: var(--transparent);
}

.content .gameplay {
  position: absolute;
  bottom: 10px;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.content .gameplay .progress-container {
  width: 80%;
  background-color: var(--transparent);
  border: 1px solid #00ffda;
  overflow: hidden;
}

.content .gameplay .progress-container .progress-bar {
  width: 0;
  height: 12px;
  background: var(--gradientBluePurple);
  transition: width 0.1s linear;
}

.content .gameplay button#hold-button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
}

.content.status {
  position: fixed;
  z-index: 1000;
  top: 0;
  background: var(--transparent);
}

.content.status div {
  width: 40%;
  background: var(--transparent);
}
/**GAME**/

/**LEADERBOARD**/
.leaderboard {
  justify-content: space-around;
}

.content .containerItems {
  width: 25%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.content .containerItems .item {
  height: auto;
  justify-content: space-around;
}

.content .containerItems .item .positionRanking {
  background: var(--white);
  color: var(--blue);
  border-radius: 10px;
  padding: 5px 10px;
  border: 3px solid var(--cian);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  line-height: 1.2;
}

.content .containerItems .item .positionRanking div:nth-child(1),
.content .containerItems .item .scoreRanking div:nth-child(1) {
  font-size: 10pt;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
}

.content .containerItems .item .positionRanking div:nth-child(2),
.content .containerItems .item .scoreRanking div:nth-child(2) {
  font-size: 30pt;
  font-weight: 700;
}

.content .containerItems .item .scoreRanking {
  background: var(--gradientBluePurple);
  color: var(--white);
  border-radius: 10px;
  padding: 5px 10px;
  border: 3px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  line-height: 1.2;
}

.content .containerItems .item .maimiLogo {
  width: 60%;
}

.content .containerRanking {
  width: 65%;
  height: 91vh;
  background: rgba(23, 10, 16, 0.4);
  border-radius: 20px;
  padding: 10px;
}

.content .containerRanking .headLeaderboard {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
}

.content .containerRanking .headLeaderboard .logohead {
  min-height: 6vh;
  width: 35%;
  display: flex;
  justify-content: center;
}

.content .containerRanking .tituloRanking {
  color: var(--white);
  font-weight: 600;
  font-size: 15pt;
}

.content .containerRanking .mainRanking {
  display: flex;
  flex-direction: column;
}

.content .containerRanking .mainHeaderRanking {
  display: flex;
  justify-content: space-between;
}

.content .containerRanking .mainHeaderRanking .headerRanking,
.content .containerRanking .ranking .itemPosition {
  display: flex;
  width: 49%;
  justify-content: space-between;
  text-align: center;
}

.content .containerRanking .mainHeaderRanking .headerRanking {
  margin: 10px 0;
}

.content .containerRanking .mainHeaderRanking .headerRanking p {
  width: 33%;
  font-size: 8pt;
  color: var(--cian);
  text-align: center;
}

.content .containerRanking .mainHeaderRanking .headerRanking p:nth-child(1) {
  text-align: left;
}

.content .containerRanking .mainHeaderRanking .headerRanking p:nth-child(3) {
  text-align: right;
  padding-right: 10px;
}

.content .containerRanking .ranking {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 70vh;
}

.content .containerRanking .ranking .itemPosition {
  margin-bottom: 10px;
  margin-right: 10px;
}

.content .containerRanking .ranking .itemPosition:nth-child(odd) {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.content .containerRanking .ranking .itemPosition div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .containerRanking .ranking .itemPosition .positionRanking {
  width: 15%;
}

.content .containerRanking .ranking .itemPosition .positionRanking p {
  background: var(--white);
  width: 100%;
  height: 100%;
  font-size: 20pt;
  font-weight: 700;
  color: var(--blue);
  border-radius: 5px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content .containerRanking .ranking .itemPosition.firstPosition {
  background: rgba(0, 255, 255, 0.5);
  border-radius: 5px;
}

.content .containerRanking .ranking .itemPosition .nameRanking {
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
}

.content .containerRanking .ranking .itemPosition .nameRanking img {
  width: 45px;
  margin-right: 10px;
  border: 1px solid var(--white);
  border-radius: 10px;
}

.content .containerRanking .ranking .itemPosition .scoreRanking {
  padding: 10px;
  color: var(--cian);
  font-weight: 700;
}
/**LEADERBOARD**/

/**SHARE**/
.shareRanking {
  justify-content: space-around;
}

.shareRanking .containerItems {
  width: 20%;
  justify-content: center;
  margin-bottom: 0;
}

.shareRanking .containerItems .item .name {
  font-weight: 700;
  font-size: 15pt;
  color: var(--white);
}

.shareRanking .containerItems .item .positionRanking {
  padding: 5px;
}

.shareRanking .containerItems .item .positionRanking div:nth-child(1),
.shareRanking .containerItems .item .scoreRanking div:nth-child(1) {
  font-size: 8pt;
}

.shareRanking .containerItems .item .positionRanking div:nth-child(2),
.shareRanking .containerItems .item .scoreRanking div:nth-child(2) {
  font-size: 25pt;
}

.shareRanking .contentImgCharacter {
  width: 20%;
  height: 90%;
  text-align: center;
  color: var(--white);
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shareRanking .contentImgCharacter img {
  border: 3px solid var(--white);
  border-radius: 20px;
}

.shareRanking .contentImgCharacter p {
  margin-bottom: 15px;
}

.shareRanking .containerShare {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 50%;
  height: 90%;
}

.shareRanking .containerShare .shareIcons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1%;
}

/* .shareRanking .containerShare .shareIcons button {
  background: var(--transparent);
  border: none;
  width: 15%;
} */

.shareRanking .containerRanking {
  width: 95%;
  height: 69vh;
  border-radius: 10px;
}

.shareRanking .containerRanking .tituloRanking {
  font-size: 10pt;
}

.shareRanking .containerRanking .mainHeaderRanking .headerRanking {
  margin-top: 5px;
  margin-bottom: 8px;
}

.shareRanking .containerRanking .mainHeaderRanking .headerRanking p {
  font-size: 6pt;
}

.shareRanking .containerRanking .ranking {
  max-height: 60vh;
  padding-bottom: 8px;
}

.shareRanking .containerRanking .ranking .itemPosition {
  margin-bottom: 5px;
  margin-right: 5px;
}

.shareRanking .containerRanking .ranking .itemPosition .positionRanking p {
  font-size: 15pt;
}

.shareRanking .containerRanking .ranking .itemPosition .nameRanking img {
  width: 25px;
  border-radius: 5px;
}

.shareRanking .containerRanking .ranking .itemPosition .nameRanking p {
  font-size: 8pt;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
  text-align: start;
}
/**SHARE**/

/**THANKS**/
.content .item.thanks {
  width: 70%;
  flex-direction: column;
}

.content .item.thanks .textThanks {
  margin-bottom: 30px;
  font-size: 25px;
  color: var(--white);
  font-weight: 600;
  text-align: center;
}

.content .item.thanks .newUniformImg {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.content .item.thanks .newUniformImg .uniform {
  border: 3px solid var(--white);
  border-radius: 30px;
  overflow: hidden;
  height: 94%;
}

.shareRanking .containerRanking .ranking .itemPosition .scoreRanking {
  padding: 5px;
  font-size: 10pt;
}
/**THANKS**/

/**ROTATE PHONE**/
.screen {
  flex-direction: column;
  color: var(--white);
  font-weight: 600;
}

.screen .rotate_screen {
  width: 25%;
}

.screen .textRotate {
  margin-top: 15px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

/**ROTATE PHONE**/

@media (min-width: 900px) {
  .content .containerRanking .ranking {
    max-height: 81vh;
  }

  .shareRanking .containerItems,
  .shareRanking .contentImgCharacter,
  .shareRanking .containerShare {
    height: 70vh;
    align-items: center;
    align-content: center;
    place-content: center;
  }

  .content.dashboard .item:nth-child(2) .selectItem:nth-child(2) img {
    width: 45%;
  }

  .shareRanking .containerRanking {
    height: 55vh;
  }

  .shareRanking .containerRanking .ranking {
    max-height: 45vh;
  }

  .shareRanking .containerShare .shareIcons button {
    width: 80%;
  }

  .shareRanking .contentImgCharacter img {
    width: 80%;
  }
}

/* fonts */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.button-box {
  width: 100%;
  height: 50px;
  max-width: 30rem;
  background: linear-gradient(
    120deg,
    rgba(0, 255, 218, 1) 0%,
    rgba(191, 101, 239, 1) 50%,
    rgba(191, 101, 239, 1) 100%
  );
  border: none;
  border-radius: 6px;
  display: flex;
  margin: 0.7rem;
}
.button-box img {
  width: 31px;
  align-self: center;
  margin-left: 10px;
}
.button-box p {
  width: 100%;
  color: var(--white);
  font-size: 11pt;
  font-weight: 600;
  align-self: center;
}
.bbb.content {
  height: 78vh;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 20vh;
}
/* Estilo para el primer botón */
.btn-container button:first-of-type {
}

/* Estilo para el segundo botón */
.btn-container button:nth-of-type(2) {
  background-color: green;
  color: black;
  /* Otros estilos específicos */
}
