.page {
  height: 100vh;
  align-content: center;
  text-align: -webkit-center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  width: min-content;
  height: min-content;
}
.container .item::first-letter {
  text-transform: uppercase;
}
.button {
  height: 35px;
  border: none;
  background: var(--gradientBluePurple);
  font-weight: 600;
  font-size: 13pt;
  border-radius: 6px;
  color: var(--white);
  justify-self: center;
  margin-top: 1rem;
}

.selection {
  display: grid;
  width: fit-content;
  padding: 0.5rem;
  border: 3px solid var(--white);
  border-radius: 20px;
  margin-left: 0.5rem;
}

.leader .selection img {
  width: 8vw;
  justify-self: center;
}

.selection img {
  width: 19vw;
  justify-self: center;
}

.selection .button {
  width: 20vw;
  margin-top: 0.8rem;
}

.item1 {
  grid-row: 2 / 4;
  grid-column: 1;
  align-self: center;
}

.selection1 {
  display: grid;
  width: fit-content;
  padding: 1rem;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.selection1 img {
  width: 55vw;
  height: 100%;
  border-radius: 20px;
}

.selection1 .button {
  width: 55vw;
}

.leader {
  align-self: self-end;
}
.item {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14pt;
  font-weight: 600;
}
.item:first-of-type {
  justify-self: self-start;
  margin-bottom: 1rem;
}
.item:nth-of-type(2) {
  margin-bottom: 1rem;
}
.item span {
  font-weight: 300;
}
